<!DOCTYPE html>
<html>
  <head>
    <title>ClickCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68ae0dfc82.js"></script>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDb9ZJUB0X_nM4cbdOQNIi3J1iQo1Sv4HI&libraries=places" %>

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
